.Browser-home-component{
  width: 100%;
  height: 100%;
}

.browser{
  width: 100%;
  box-shadow: rgb(rgba(0, 0, 0, 0.766), rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.716));
}

.browser-window {
  background-color:#1c1c1c;
  padding: 20px;
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}

.address-bar{
  width: 100%;
  background-color: grey;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius:5px;
  box-shadow: 0 5px 15px rgb(0, 0, 0);
}

.address-bar input{
  flex-grow: 1;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 3px;
}

.red-dot, .yellow-dot, .green-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.browser-window-content{
  width: 80%;
  margin: auto;
  align-items: center;
}

.browser-heading h1{
  width: 100%;
  margin-top:60px ;
  text-align: center;
  color:#F8A145;
  text-shadow:0 10px 10px rgb(0, 0, 0);
  font-size: 3rem;
}

.window-heading h1{
  margin-top: 60px;
  text-align: center;
  font-family:"Vollkorn" ;
  font-size: 5rem;
  font-weight: 600;
  color:#ececec;
  letter-spacing: 2px;
}

.window-content{
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.browser-link-image{
  width: 100%;
  margin-top:40px ;
  text-align: center;
}

.link-page{
  color:#ececec;
  text-decoration: none;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  border-radius: 8px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  cursor:pointer;
  background-color: #b50718c5;
}

.link-page:hover{
  text-decoration: none;
  border: none;
  color:#ffffff;
  transition: 0.3s ease-in-out;
  font-family:Arial, Helvetica, sans-serif;
  background-color: transparent;
  transition: .3s ease-in-out;
  box-shadow: 0px 1px 3px 1px rgba(251, 72, 72, 0.767);
}

.aboutpage-line{
  color:rgba(128, 128, 128, 0.405);
  padding-top: 10px;
  font-size: 1.5rem;
}

.search-bar {
  position:absolute;
  top: 12%;
  left: 10%;
  width: 80%;
  background-color: #2d2d2d;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  z-index: 1;
   display: flex;
   gap: 6px;
   justify-content: center;
   align-items: center;
}

.search-bar p {
  margin: 0;
  color: #ececec;
  font-size: 1.5rem;
}

.search-bar .search-link-page{
  color:#ececec;
  font-size: 1.5rem;
  text-decoration: none;
}

.search-link-page:hover{
  background-color:#b50718c5;
  padding: 4px;
  border-radius: 4px;
  transition: .5s ease-in-out;
}
