.skills-page {
  width: 100%;
  min-height: 100vh;
  padding-top: 90px;
  background-color: #1d1d1d;
}

.skills-page h1 {
  font-family: 'Voltaire';
  font-size: 4rem;
  color: whitesmoke;
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(255, 11, 11, 0.522);
}

.interests-skill-tool {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.interests-skill-tool-card-1 {
  width: 45%;
  margin: auto;
}

.interests-skill-tool-card-2 {
  width: 45%;
  margin: auto;
}

.interests-card-content,
.skill-card-content,
.tool-card-content {
  width: 100%;
  padding: 15px;
}

.skill-card {
  margin: auto;
  width: 90%;
  background-color: none;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.545);
}

.interests-card,
.tool-card {
  margin: auto;
  width: 90%;
  background-color: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.545);
  padding-bottom: 30px;
}

.interests-card-content h2,
.skill-card-content h2,
.tool-card-content h2 {
  margin: 0px;
  font-size: 2.8rem;
  font-family: 'Acme';
  color: white;
}

.interest-list,
.skill-list,
.tools-list {
  padding-top: 10px;
}

.interest-list li,
.skill-list li,
.tool-list li {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ececec;
}

@media screen and (max-width: 600px) {
  .interests-skill-tool {
    width: 100%;
    display: block;
  }

  .interests-skill-tool-card-1,
  .interests-skill-tool-card-2 {
    width: 80%;
    height: auto;
    margin: auto;
  }


  .interest-list,
  .skill-list,
  .tools-list {
    padding-top: 10px;
  }

  .interest-list li,
  .skill-list li,
  .tool-list li {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ececec;
  }
}