.skills-page {
  width: 100%;
  min-height: 100vh;
  padding-top: 90px;
  background-color: #1d1d1d;
}

.skills-page h1 {
  font-family: 'Voltaire';
  font-size: 4rem;
  color: whitesmoke;
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(255, 11, 11, 0.522);
}

.skill-card-content {
  width: 100%;
  padding: 15px;
}

.skill-card {
  width: 90%;
  margin: auto;
  margin: auto;
  width: 90%;
  background-color: none;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.788);
  color: #ffffffbb;
}

.skill-list{
  margin-top: 10px;
  padding: 10px;
}

.skill-list-1{
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-list-1 i{
  font-size: 90px;
  border: 1px solid red;
  padding: 15px 30px;
  border-radius: 5px;
}

.skill-list-1 i:hover{
  box-shadow:0px 2px 6px 4px rgba(255, 11, 11, 0.545) ;
  color: #fff;
  cursor: pointer;
}



@media screen and (max-width: 600px) {
  .skill-list-1 i{
    font-size: 40px;
    border: 1px solid red;
    padding: 10px 20px;
    border-radius: 5px;
  }

}